#include<conio.h>
#include<stdio.h>
#include<math.h>

float dt(float a,float b,float c);

int main()
{
        float a,b,c,x1,x2;
       
	
        printf("Esse programa calcula baskara.\n");
        printf("Digite o valor de a:\n");
        scanf("%f",&a);
        printf("Digite o valor de b:\n");
        scanf("%f",&b);
        printf("Digite o valor de c:\n");
        scanf("%f",&c);
        if(a==0)
        {
                printf("N\xC6o \x82 possivel dividir por zero.");
        }
        else if(dt(a,b,c)>=0)
        {
                x1=(sqrt(dt(a,b,c))-b)/(2*a);
                x2=(-sqrt(dt(a,b,c))-b)/(2*a);
                printf("\n\nx1=%f \nx2=%f",x1,x2);
        }
        else
        {
                printf("Delta \x82 negativo.");
        }
        getch();
}

float dt(float a,float b,float c)
{
	
        float delta;
        delta=pow(b,2)-(4*a*c);
        return delta;
}
